@use '../helpers' as *;

.header {
    &__promo {
        padding-block: rem(20);
        text-align: center;
        border-bottom: var(--border);

        @include mobile {
            padding-block: rem(14);
        }

        &-link {
            text-decoration: none;
        }
    }

    &__body {
        padding-block: rem(24);
        background-color: var(--color-dark-10);

        @include mobile {
            padding-bottom: rem(20);
        }

        &-inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
            column-gap: 1rem;
        }
    }

    &__overlay {
        @include mobile-above {
            display: contents;
        }

        @include mobile {
            position: fixed;
            inset: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            row-gap: 3rem;
            padding: 1rem;
            background-color: var(--color-dark-10);
            transition-duration: var(--transition-duration);

            &:not(.is-active) {
                @include hide;

                translate: 100%;
            }
        }
    }

    &__menu {
        @include mobile {
            overflow-y: auto;
        }
        &-list {
            display: flex;
            align-items: center;
            column-gap: rem(16);

            @include laptop {
                column-gap: rem(6);
            }

            @include mobile {
                flex-direction: column;
                row-gap: 1rem;
            }
        }

        &-link {
            padding: rem(14) rem(24);
            color: var(--color-gray-50);
            text-decoration: none;

            @include laptop {
                padding: rem(10) rem(18);
            }

            &.is-active {
                color: var(--color-light);
                font-weight: 500;
                background-color: var(--color-dark);
                border: var(--border);
                border-radius: rem(10);
                pointer-events: none;
            }
        }

        &__contact-us-link {
            @include mobile {
                width: 100%;
                max-width: rem(300);
                align-self: center;
            }
        }
    }
}