@use '../helpers' as *;

.metrics {
    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    &__item {
        display: flex;
        flex-direction: column-reverse;
        row-gap: rem(10);
        padding: rem(50);

        &:first-child {
            padding-left: 0;
        }

        &:not(:last-child) {
            border-right: var(--border);
        }

        @include laptop {
            padding: rem(30) rem(40);
            row-gap: rem(2);
        }

        @include tablet {
            padding: rem(20);
            row-gap: 0;
        }
    }

    &__value {
        font-weight: 600;
    }

    &__sign {
        color: var(--color-accent);
    }
}