@use 'helpers' as *;

:root {
    --color-light: #FFF;

    --color-dark: #141414;
    --color-dark-10: #1A1A1A;
    --color-dark-15: #262626;
    --color-dark-20: #333333;
    --color-dark-40: #666666;

    --color-gray-50: #7E7E81;
    --color-gray-60: #98989A;

    --color-accent: #FFD11A;
    --color-red: #FF5500;

    --font-family-base: 'Inter', sans-serif;
    --font-family-accent: 'Kumbh Sans', sans-serif;

    --container-width: #{rem(1600)};
    --container-padding-x: #{rem(16)};

    --transition-duration: 0.2s;

    @include laptop {
        --container-width: #{rem(1280)};
    }
}